.Header{
  height: auto;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  color: white;
  padding: 1rem;
  font-size: 25px;
  font-weight: bold;
}
.Search {
  display: flex;
  align-items: center;
  width: 100%;
}
input[type="Text"]{
  width: 700;
  padding: 11.7px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-color: orange;
}

input ::placeholder{
  font-size: 16px;
  font-weight: 600;
}

.Icons{
  display: flex;
  align-items: center;
}

.Icons > div {
  margin:0 12px;
  background-color: orange;
  height: 39px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}


.Categories{
  display: flex;
  height: 4rem;
  background-color: rgba(4, 5, 4, 0.829);
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.Categories > div{
  margin: 0 16px;
}